*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

/* Styling the image */
img{
    height: 100px;
}


/* Styling the flex-container */
.flex-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}